<h2>顧客情報編集</h2>
<%= form_with model: @customer, local:true do |f| %>

  <strong>姓:</strong>
  <%= f.text_field :last_name %>
  <strong>セイ:</strong>
  <%= f.text_field :last_name_kana %>
  <strong>性別:</strong>
  <%= f.select :gender_id, Customer.gender_ids.keys.map %>
  
  
  <strong>名:</strong>
  <%= f.text_field :first_name %>
  <strong>メイ:</strong>
  <%= f.text_field :first_name_kana %>
  
  <strong>生年月日:</strong>
  <%= f.date_select :birthday,
                    use_month_numbers: true,
                    start_year: 1942,
                    end_year: 2002,
                    default: Date.new(1962, 1, 1),
                    date_separator: '/' %>
  <strong>年齢:</strong>                  
  <%= f.number_field :age %>
  
  <strong>郵便番号:</strong>
  <%= f.text_field :post_code %>
  
  <strong>住所:</strong>
  <%= f.text_area :address %>
  
  <strong>自宅電話:</strong>
  <%= f.text_field :home_phone_number %>
  <strong>携帯電話:</strong>
  <%= f.text_field :phone_number %>
  
  <strong>リスト名:</strong>
  <%= f.select :list_group, Customer.list_groups.keys.map %>
  
  <%= f.submit '更新' %>
<% end %>